/* CSS untuk mode gelap */
.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}

.dark-mode h2 {
  color: #fff;
}

.dark-mode .table-bordered {
  border-color: #fff;
}

.dark-mode .table-bordered th,
.dark-mode .table-bordered td {
  border-color: #fff;
  color: #fff;
}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.dark-mode .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.dark-mode .btn-primary:focus,
.dark-mode .btn-primary.focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5);
}

.dark-mode .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.dark-mode .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.dark-mode .btn-danger:focus,
.dark-mode .btn-danger.focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

/* CSS tambahan */
.text-end {
  text-align: right;
  margin-bottom: 15px;
}
